body
{
    background-color: #232323;
}
#tie{
    color: #c1b4d4;
    text-align: center;


}
.squ{
    /*background-color: #f38b90;*/
    width: 30%;
    float: left;
    margin: 10px;
    padding-top: 20%;



    /*height:190px;*/


}
/*span{*/
    /*color: white;*/

/*}*/
#main{
    width: 600px;

    padding: 170px;
    margin: 0 auto;


}
.b
{
background-color: blue;
}
#strip{
    background-color: rgba(215, 255, 132, 0.3);

    text-align: center;
    margin: 10px;
    padding: 4px;


}