body
{
    background-color: #232323;
}
#tie{
    color: #fcfffa;
    text-align: center;


}
.squ{
    background-color: #f38b90;
    width: 30%;
    float: left;
    margin: 10px;
    padding-top: 20%;



    /*height:190px;*/


}
#main{
    width: 600px;

    padding: 170px;
    margin: 0 auto;


}